.comic-section {
  .comic-home-heading {
    padding: 1em 3% 0.5em 3%;
  }
}
.comics {
  .comic-container {
    display: flex;
    align-items: center;
    margin: 0.6em 0.3em;
    padding-right: 0.3em;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.3);
    &:hover {
      cursor: pointer;
      background: linear-gradient(
        to bottom,
        rgba(101, 4, 75, 0.69),
        rgba(19, 1, 33, 0.8) 70.71%
      );
    }

    .comic-image {
      width: 60px;
      height: auto;
      margin-right: 10px;
      pointer-events: none;
    }
    .comic-title,
    .comic-price {
      pointer-events: none;
    }
    .comic-price {
      font-size: $base-font-size;
    }
    .comic-text-container {
      pointer-events: none;
    }
  }
  .max-fetch-notice {
    padding: 0.3em;
    background-color: $navigation-color;
  }
  .fetch-btn-container {
    margin: 0.3em;
    text-align: center;
    .fetch-more-btn {
      width: 100%;
      padding: 0.6em 0.4em;
    }
  }
}
@media only screen and (min-width: 765px) {
  .comics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .comic-container {
      flex: 0 45%;
      width: 100%;
      position: relative;
      .comic-image {
        width: 200px;
        margin: auto;
      }
      .comic-text-container {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 0.3em 0.5em;
        text-align: justify;
        text-justify: inter-word;
        color: darken($text-color-light, 15%);
        background: linear-gradient(
          to top,
          rgba(19, 1, 33, 1),
          rgba(19, 1, 33, 0.8) 70.71%
        );
      }
    }
    .fetch-btn-container {
      flex: 95%;
      .fetch-more-btn {
        height: 70px;
      }
    }
  }
}
@media only screen and (min-width: 1200px) {
  .comic-section {
    margin: 1em 20%;
    background-color: $main-bg;
  }
}
