.latest-comics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .comic-container {
    flex: 0 50%;
    .comic-image {
      width: 100%;
    }
  }
}
.discover-comics {
  padding: 2em 1.5em;
  h2 {
    font-size: 1.2rem;
    margin-bottom: 0.7em;
  }
  div {
    padding: 1em 0;
    display: flex;
    .icon-sm {
      margin-right: 10px;
      margin-top: 5px;
    }
  }
}
.authors {
  background: linear-gradient(0deg, rgba(19, 1, 33, 0.9), rgba(19, 1, 33, 0.9)),
    url("../assets/images/comics-sm.jpg");
  background-size: cover;
  padding: 2em 1.5em;
  h2 {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 0.7em;
  }
  div {
    padding: 1em 0;
  }
}
