.search-container {
  margin: 0.6em 0.3em;
  form {
    // padding-top: 1em;
    display: flex;
    input {
      padding: 0.4em;
      font-size: 16px;
      border: none;
      font-family: $main-font;
      width: 70%;
    }
    .submit-btn {
      width: 30%;
    }
  }
  .input-message {
    height: 1.5rem;
  }
}
