.search-container {
  margin: 1em 0.3em 0.6em 0.3em;
  form {
    // padding-top: 1em;
    display: flex;
    input {
      padding: 0.4em;
      border: 1px solid $link-color;
      font-family: $main-font;
      width: 70%;
      // background-color: lighten($link-color, 22%);
    }
    .submit-btn {
      width: 30%;
    }
  }
  .input-message {
    height: 1.5rem;
  }
}
@media only screen and (min-width: 765px) {
  .search-container {
    form {
      // padding-top: 1em;
      display: flex;
      input {
        padding: 0.4em;
        font-family: $main-font;
        width: 40%;
      }
      .submit-btn {
        width: 20%;
      }
    }
    .input-message {
      height: 1.5rem;
    }
  }
}
