.single-comic-container {
  margin: 1em;
  .comic-title {
    font-size: 18px;
    font-weight: bold;
  }
  .comic-sub-container {
    .comic-image-container {
      padding: 1em 0 0 0;
      .single-comic-image {
        display: block;
        width: 40%;
        height: auto;
        margin-right: 10px;
        pointer-events: none;
        margin: 0 auto;
      }
    }
    .comic-text-container {
      .comic-price {
        text-align: center;
        font-size: 2rem;
        margin-top: -3px;
        margin-bottom: 10px;
      }
      a {
        color: $link-color;
      }
    }
  }
}
