$navigation-color: #19191a;
$main-bg: #f3f3fb;
$sub-bg: #19191a;
$link-color: #ff2654;
$text-color-light: #fff;
$text-color-dark: #000;
$main-font: "Poppins", sans-serif;
$base-font-size: 1rem;
.icon {
  font-size: 1.5625rem;
}
.icon-sm {
  font-size: 1.0625rem;
}
.btn {
  padding: 0.4em;
  border: none;
  font-family: $main-font;
  color: $text-color-light;
  background-color: darken($link-color, 20%);
  // width: 30%;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background-color: $navigation-color;
    color: white;
  }
}
