$navigation-color: #130121;
$main-bg: #6504af;
$link-color: #e6ad53;
$text-color-light: #fff;
$main-font: "Poppins", sans-serif;
$base-font: 1rem;
.icon {
  font-size: 1.5625rem;
}
.icon-sm {
  font-size: 1.0625rem;
}
.btn {
  padding: 0.4em;
  border: none;
  font-family: $main-font;
  color: $text-color-light;
  background-color: darken($link-color, 20%);
  // width: 30%;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background-color: $navigation-color;
    color: white;
  }
}
