@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.icon {
  font-size: 25px;
}

.icon-sm {
  font-size: 17px;
}

.user-navigation {
  width: 100%;
  height: 55px;
  background-color: #2f2f2f;
  position: relative;
}

.user-navigation .__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-navigation .__profile a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.menu {
  position: fixed;
  background-color: #2f2f2f;
  width: 100%;
  height: 55px;
  bottom: 0;
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
}

.menu ul li {
  list-style: none;
  margin: auto;
}

.menu ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.menu ul li a i,
.menu ul li a svg {
  width: 50px;
}

.latest-comics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.latest-comics .comic-container {
  -webkit-box-flex: 0;
      -ms-flex: 0 50%;
          flex: 0 50%;
}

.latest-comics .comic-container .comic-image {
  width: 100%;
}

.discover-comics {
  padding: 2em 1.5em;
}

.discover-comics h2 {
  font-size: 1.2rem;
  margin-bottom: 0.7em;
}

.discover-comics div {
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.discover-comics div .icon-sm {
  margin-right: 10px;
  margin-top: 5px;
}

.authors {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(19, 1, 33, 0.9)), to(rgba(19, 1, 33, 0.9))), url("../assets/images/comics-sm.jpg");
  background: linear-gradient(0deg, rgba(19, 1, 33, 0.9), rgba(19, 1, 33, 0.9)), url("../assets/images/comics-sm.jpg");
  background-size: cover;
  padding: 2em 1.5em;
}

.authors h2 {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 0.7em;
}

.authors div {
  padding: 1em 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  margin-bottom: 55px;
  background-color: #130121;
  color: #fff;
}

.comic-container .comic-image {
  width: 90%;
  height: auto;
}
/*# sourceMappingURL=main.css.map */