@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.icon {
  font-size: 25px;
}

.icon-sm {
  font-size: 17px;
}

.menu {
  position: fixed;
  background-color: #130121;
  width: 100%;
  height: 55px;
  bottom: 0;
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
}

.menu ul li {
  list-style: none;
  margin: auto;
}

.menu ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.menu ul li a i,
.menu ul li a svg {
  width: 50px;
}

.user-navigation {
  width: 100%;
  height: 55px;
  background-color: #130121;
  position: relative;
}

.user-navigation .__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-navigation .__profile a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.comic-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.6em 0.3em;
  padding-right: 0.3em;
  -webkit-box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.3);
}

.comic-container .comic-image {
  width: 60px;
  height: auto;
  margin-right: 10px;
  pointer-events: none;
}

.comic-container .comic-title,
.comic-container .comic-price {
  font-size: 14px;
  pointer-events: none;
}

.comic-container .comic-text-container {
  pointer-events: none;
}

.single-comic-container {
  margin: 1em;
}

.single-comic-container .comic-title {
  font-size: 18px;
  font-weight: bold;
}

.single-comic-container .comic-sub-container .comic-image-container {
  padding: 1em 0 0 0;
}

.single-comic-container .comic-sub-container .comic-image-container .single-comic-image {
  display: block;
  width: 40%;
  height: auto;
  margin-right: 10px;
  pointer-events: none;
  margin: 0 auto;
}

.single-comic-container .comic-sub-container .comic-text-container .comic-price {
  text-align: center;
  font-size: 2rem;
  margin-top: -3px;
  margin-bottom: 10px;
}

.single-comic-container .comic-sub-container .comic-text-container a {
  color: #e6ad53;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  margin-bottom: 55px;
  background-color: #6504af;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */